# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env
.env.*

# ML artifacts
*.joblib
*.pkl

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

data/external/

data/processed/
